:root{
    --teal_hover:#279e8c;
    --teal:#2ec1ac;
}

.custom-bg{
    background-color: var(--teal);
    border:1px solid var(--teal) ;
}
.custom-bg:hover{

    background-color:var(--teal_hover);
    border-color:var(--teal_hover);
}
.availability-form{
    margin-top: -50px;
    z-index: 111;
    position: relative;
}
@media screen and (max-width:575px){
    .availability-form{
        margin-top: 25px;
        padding: 0 35px;
    }
    .select{
        width: 150px;
    }
}
.custom-alert{
    position: fixed;
    top:25px;
    z-index: 111;
    right:25px;
}
